@model LendingLibrary.Models.DeleteItemModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="success">
        @ViewBag.Message
    </div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.ItemName)
            @Html.TextBoxFor(m => m.ItemName)
        </p>


        <p>
            <input type="submit" value="Delete Item!" />
        </p>
    }

</div>

